extends layout

block content
    h1= title
    - let items = results
    - var x = 0;
    div(class="container-fluid")
      div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/doctors/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Doctor #{x=x+1}: YOE = #{item.years_of_experience} Specialty = #{item.specialty} NOP = #{item.number_of_patients}
        button.btn(class="btn-primary m1-1", onclick=destination) Update 

    script. 
      function dispatch(path){
        window.location.href=path
      }
